body {
    background: #fefefe;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: Times;
}

.container {
    max-width: 970px;
    margin: auto;
}

h1 {
    margin-top: 25px;
    font-size: 37px;
}

p {
    font-size: 22px;
    line-height: 40px;
}